
ion-content, ion-select, ion-select-option, ion-list, ion-button, ion-item, ion-title, ion-menu-button, form, ion-ripple-effect  {
    --ion-background-color:#fe616a;
    color:#ffffff;
    --ion-font-color:#ffffff;
}

ion-item, ion-router-outlet, ion-card{
    color:#ffffff;
    --ion-font-color:#ffffff;
}

ion-list, ion-label{
    color:#ffffff;
    --ion-font-color:#ffffff;
}
