<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Search Blood Donors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>
      Search Donor Options
    </ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label>Default Label</ion-label>
    <ion-input placeholder="Enter Input"></ion-input>
  </ion-item>

  <ion-item-divider>
    <ion-label>
      Search Results
    </ion-label>
  </ion-item-divider>

  <ion-item *ngFor="let search of searchDonorsList">
    <ion-label>
      {{search.Name}}
    </ion-label>
  </ion-item>
</ion-content> -->

<ion-header translucent>
  <ion-toolbar>
    <ion-title>Search Blood Donors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form (ngSubmit)="searchBloodDonorsClick($event)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding" ngNativeValidate>

      <ion-item>
        <ion-label>State</ion-label>
        <ion-select interface="action-sheet" placeholder="Select State" (ionChange)="getCities($event)"
          name="stateDropDown" id="stateDropDown" [(ngModel)]="selectedSearchOptions.State">
          <ion-select-option *ngFor="let state of statesList" [value]="state.id">{{state.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>City</ion-label>
        <ion-select interface="action-sheet" placeholder="Select City" name="cityDropDown" id="cityDropDown"
          [(ngModel)]="selectedSearchOptions.City">
          <ion-select-option *ngFor="let city of citiesList" [value]="city.name">{{city.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Blood Group</ion-label>
        <ion-select interface="action-sheet" placeholder="Select Blood Group" name="bloodGroupDropDown"
          id="bloodGroupDropDown" [(ngModel)]="selectedSearchOptions.BloodGroup">
          <ion-select-option value="A+">A+</ion-select-option>
          <ion-select-option value="A+">B+</ion-select-option>
          <ion-select-option value="A+">AB+</ion-select-option>
          <ion-select-option value="A+">O+</ion-select-option>
          <ion-select-option value="A+">A-</ion-select-option>
          <ion-select-option value="A+">B-</ion-select-option>
          <ion-select-option value="A+">AB-</ion-select-option>
          <ion-select-option value="A+">O-</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>

    <div class="ion-padding">
      <ion-button slot="start" expand="block" type="submit" class="ion-no-margin">
        <ion-icon name="search-outline" slot="start"></ion-icon>Search Donors
      </ion-button>
    </div>

  </form>
</ion-content>
<ion-alert-controller></ion-alert-controller>