<!-- <ion-header>
  <ion-toolbar>
    <ion-title>donor-registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="angularFireAuth.user | async else registrationTemplate">
  </div>

  <ng-template>
    <ion-button (click)="LoginUser()">Login</ion-button>
    <ion-button (click)="SignUpNewUser()">SignUp</ion-button>
  </ng-template>

  <div>
    <ng-container *ngIf="otpSent==false; else otpContainer">
      <div class="sec-container">
        <input [(ngModel)]="userPhoneNo" class="get-input" placeholder="Phone" type="tel">
        <button (click)="sendOtp()" class="button-press">Get OTP</button>
      </div>
    </ng-container>
    <ng-template #otpContainer>
      <div class="sec-container">
        <input [(ngModel)]="otp" class="get-input">
        <button (click)="signIn()" class="button-press">Login</button>
      </div>
    </ng-template>
    <div id="sign-in-button"></div>
  </div>

  <div id="recaptcha-container"></div>


</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-title>Donor Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Your Name</ion-label>
    <ion-input placeholder="Your Name" [(ngModel)]="donorRegistrationDetails.Name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Your Mobile No</ion-label>
    <ion-input placeholder="Your Mobile No" [(ngModel)]="donorRegistrationDetails.PhoneNo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">State</ion-label>
    <ion-select interface="action-sheet" placeholder="Select State" (ionChange)="getCities($event)" name="stateDropDown"
      id="stateDropDown" [(ngModel)]="donorRegistrationDetails.State">
      <ion-select-option *ngFor="let state of statesList" [value]="state.id">{{state.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">City</ion-label>
    <ion-select interface="action-sheet" placeholder="Select City" name="cityDropDown" id="cityDropDown"
      [(ngModel)]="donorRegistrationDetails.City">
      <ion-select-option *ngFor="let city of citiesList" [value]="city.name">{{city.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Blood Group</ion-label>
    <ion-select interface="action-sheet" placeholder="Select Blood Group" name="bloodGroupDropDown"
      id="bloodGroupDropDown" [(ngModel)]="donorRegistrationDetails.BloodGroup">
      <ion-select-option value="A+">A+</ion-select-option>
      <ion-select-option value="B+">B+</ion-select-option>
      <ion-select-option value="AB+">AB+</ion-select-option>
      <ion-select-option value="O+">O+</ion-select-option>
      <ion-select-option value="A-">A-</ion-select-option>
      <ion-select-option value="B-">B-</ion-select-option>
      <ion-select-option value="AB-">AB-</ion-select-option>
      <ion-select-option value="O-">O-</ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <ion-label position="floating">Blood Donation Details</ion-label>
  <!-- Scrollable Segment -->
  <ion-segment value="heart" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="home">
      <!-- <ion-icon name="home"></ion-icon> -->
      <ion-label>Never Donated</ion-label>
    </ion-segment-button>
    <ion-segment-button value="heart">
      <!-- <ion-icon name="heart"></ion-icon> -->
      <ion-label>Last Donated On</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pin">
      <!-- <ion-icon name="pin"></ion-icon> -->
      <ion-label>Donot wish to Donate</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-content>


<ion-button (click)="showDatepicker()">
  Show Date Picker
</ion-button>
<h4>Date: {{myDate}}</h4>

<ion-button (click)="showTimepicker()">
  Show Time Picker
</ion-button>
<h4>Time: {{myTime}}</h4>


<ion-button (click)="showDateTimepicker()">
  Show Date & Time Picker
</ion-button>
<h4>Date & Time: {{myDateNTime}}</h4>