<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About US</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>AIPIF</h1>
  <ul>
    <li>
      <ion-item>
        <p>
          Message of peace and love is the foundation of every human being on this earth, but unfortunately today, instead of promoting the positive values of humanity certain evil elements are engaged in developing rift and hatred among us. In this context it is the responsibility of every peace-loving citizen of this country to introduce the positive teachings and to promote mutual love, confidence and understanding between the members of various communities and religions. All India Payam-e-Insaniyat (The Message of Humanity) Forum is non-political, non-religious, social organization. This organization is committed to promote the basic human values among all citizens of India irrespective of cast, creed or religion purely on the basis of humanity.
        </p>
      </ion-item>
    </li>
    <li>
      <ion-item>
        <p>AIPIF - All India Payam-E-Insaniyat Forum, The message of humanity, organizes various medical camps in
          poor vilages and localities and also
          provides free medicines.</p>
      </ion-item>
    </li>
    <li>
      <ion-item>
        <p>This forum also helps the poor and needy people for treatment and medicine and even surgery.</p>
      </ion-item>
    </li>
    <li>
      <ion-item>
        <p>AIPIF has organized many free eye camps, asthma camp, psychiatric camps, etc throughout the country,
          which is undertaken by specialist Doctors.</p>
      </ion-item>
    </li>
    <li>
      <ion-item>
        <p>We welcome humans those are having pain for humanity irrespective of cast, colour or religion. Total no.
          of patients attended. Total no. of patients attended in medical camps are approximately 12000.</p>
      </ion-item>
    </li>
    <li>
      <ion-item>
        <p>More about AIPIF <a target="#" href="http://aipiftsap.org/">here</a></p>
      </ion-item>
    </li>
  </ul>
</ion-content>

<!-- 

<ion-content fullscreen class="ion-padding">
  <ion-text color="primary">
    <h1> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
  </ion-text>

  <ion-text color="secondary">
    <h2>Nam rutrum justo massa, maximus elementum leo dignissim ac.</h2>
  </ion-text>

  <ion-text color="tertiary">
    <h3>Vestibulum eleifend lorem nec neque interdum varius.</h3>
  </ion-text>

  <ion-text color="success">
    <h4>Sed in neque at nibh congue tincidunt.</h4>
  </ion-text>

  <ion-text color="warning">
    <h5>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</h5>
  </ion-text>

  <ion-text color="danger">
    <h6>Suspendisse potenti.</h6>
  </ion-text>

  <p>
    Donec magna odio, <ion-text color="primary">semper</ion-text> ac nibh et, vestibulum eleifend felis.
    Donec <ion-text color="secondary">pulvinar</ion-text> ex non quam vulputate malesuada in a magna.
    Praesent massa arcu, <ion-text color="tertiary">vehicula</ion-text> id pharetra et, cursus at lectus.
  </p>
</ion-content> -->