<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-list lines="none">
      <ion-item>
        <ion-avatar slot="start">
          <img src="../assets/logo.png">
        </ion-avatar>
        <ion-label>About Us</ion-label>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="text-align: justify;">
    <img src="../../assets/1Img.jpeg" alt="">
    <h1>About AIPIF</h1>
    <p>
      Message of peace and love is the foundation of every human being on this earth, but
      unfortunately today, instead of promoting the positive values of humanity certain evil
      elements are engaged in developing rift and hatred among us. In this context it is the
      responsibility of every peace-loving citizen of this country to introduce the positive teachings and to promote
      mutual love, confidence and understanding between the
      members of various communities and religions. <br> <br>
      All India Payam-e-Insaniyat (The Message of Humanity) Forum is non-political, non-
      religious, social organization. This organization is committed to promote the basic human
      values among all citizens of India irrespective of cast, creed or religion purely on the
      basis of humanity.
    </p> <br>
    <img src="../../assets/2Img.jpeg" alt="">
    <h1>Aims &amp; Objectives</h1>
    <ul>
      <li>
        To create mutual good-will and an atmosphere of affection
        kindness purely on human and national levels founded on
        BROTHERHOOD and WELL-BEING of MANKIND generally; to put
        an end to violence, lawlessness, anarchy, moral degradation and
        create FELLOW-FEELING towards each other.
      </li>
      <li>
        <p>
          To hold Public meetings and Seminars for promoting and spreading the sense of sharing sorrows and sufferings
          of human beings.
        </p>
      </li>
      <li>
        <p>Publication of useful cultural/moral literature in various National,
          Regional and widely spoken languages; to bring together through
          service and sacriﬁce, people belonging to different classes and
          communities; to restore conﬁdence amongst people who have
          become sick of life; and restore/revive love for life in spiritually
          sick souls and to give them a virtuous AIM of life.</p>
      </li>
      <li>
        <p>To weed-out from the society and human race: Bribery and
          illegal gratiﬁcation;Nepotism and favoritism;Misconceptions arising
          out of hatred;Hoarding, proﬁteering and black-
          marketing;Sectarianism;Disparity in economic and living standards
          and Full-ﬂedged struggle against sub-standards behavioral
          inclinations and obscenity.</p>
      </li>
      <li>
        <p>To eradicate all ill-founded rites, rituals and cruel conventions.</p>
      </li>
      <li>
        <p>To uplift the poor, the backward, the neglected, the down-
          trodden, and the agonized people irrespective of caste, creed,
          colour and gender.</p>
      </li>
      <li>
        <p>
          To create a sense of Sobriety, social service, submissiveness,
          self-respect, self-restraint, self-conﬁdence, self-vigilance, and to
          raise cultural and intellectual levels of the STUDENT COMMUNITY
          and the up and coming GENERATION there by helping them to
          grow into better and useful citizens.
        </p>
      </li>
      <li>
        <p>To extend all possible help in personal sphere and on the levels
          of al locality, village and town and ﬁnally, in the Country</p>
      </li>
    </ul>
    <br>
    <img src="../../assets/3Img.jpeg" alt="">
    <h1>AIPIF Medical Camps</h1>
    <ul>
      <li>
        AIPIF - All India Payam-E-Insaniyat Forum, The message of
        humanity, organizes various medical camps in poor villages and
        localities and also provides free medicines.
        This forum also helps the poor and needy people for treatment and
        medicine and even surgery.
      </li>
      <li>
        AIPIF has organized many free eye camps, asthma camp,
        psychiatric camps, etc throughout the country, which is
        undertaken by specialist Doctors.
      </li>
      <li>
        We welcome humans those are having pain for humanity
        irrespective of caste, colour or religion. Total no. of patients
        attended in medical camps are approximately 120000 (more than a
        lakh patients so far). This is also a very conservative figure.
      </li>
    </ul>
    <br>
    <img src="../../assets/4Img.jpeg" alt="">
    <br>
    <p>More about AIPIF <a target="#" href="http://aipiftsap.org/">here</a></p>
  </div>
</ion-content>
<ion-footer class="ion-no-border ion-justify-content-center"
  style="background-color: #fe616a !important; color: #ffff !important;">
  <p style="text-align: center; background-color: #fe616a; color: #ffff;">All India Payam-E-Insaniyat
    Forum.<br>&copy;&nbsp;All Rights Reserved.</p>
</ion-footer>